<div style="justify-content: center; display: flex;">
    <div class="tasksHead">
        <h2 style="cursor: default;"><%= title %></h2>
        <a class="link" href="<%= String(pageurl) %>"><%= createbtn %></a>
    </div>
</div>
